<section class="breadcrumb">
  <ul class="breadcrumb__list">
    {{ if .Parent }}
      {{ template "breadcrumbnav" (dict "p1" .Parent "p2" .) }}
    {{ end }}
    {{ if not .IsHome }}
      <li class='breadcrumb__list__el'>{{- lower .Title -}}</li>
    {{ end }}
  </ul>
</section>


{{ define "breadcrumbnav" }}
  {{ if .p1.Parent }}
    {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2) }}
  {{ else if not .p1.IsHome }}
    {{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2) }}
  {{ end }}
  <li class="breadcrumb__list__el">
    <a class="breadcrumb__link" href="{{ .p1.Permalink }}">
      {{ if .p1.IsHome }}
        {{- lower (i18n "home") -}}
      {{else}}
        {{- lower .p1.Title -}}
      {{end}}
    </a>
  </li>
{{ end }}
