{{ if gt (len .AllTranslations ) 1 }}
  <ul class="languages">
    {{ range .AllTranslations }}
      {{ $isCurrentLang := eq $.Language .Language }}
      <li class="languages__el">
        <a class="languages__link" href="{{ .Permalink }}">
          {{ if $isCurrentLang  }}✓{{ end }}{{ lower .Language.LanguageName }}
        </a></li>
    {{ end }}
  </ul>
{{ end }}
