<nav class="navbar">
  <section class="navbar__brand" >
    <a href="{{ .Site.BaseURL | relLangURL }}" class="navbar__link">
      {{- .Site.Params.brand -}}
    </a></section>
  <section class="navbar__menu">
    <button
      class="navbar__menu__button"
      aria-haspopup="true"
      aria-expanded="false"
      aria-controls="menu"
      aria-label="Menu"
    >
      <span class="navbar__menu__button__line"></span>
      <span class="navbar__menu__button__line"></span>
    </button>
    <ul class="navbar__menu__list">
      <li class="navbar__menu__list__el">
        <a href="{{ .Site.BaseURL | relLangURL }}" class="navbar__link navbar__link--overlay">
          {{- upper (T "home") -}}
        </a></li>
      {{- range where .Site.Sections "Params.displayinmenu" true -}}
        <li class="navbar__menu__list__el">
          <a href="{{ .Permalink }}" class="navbar__link navbar__link--overlay">
            {{- upper .Title -}}
          </a></li>
      {{- end -}}
    </ul>
  </section>
</nav>
