<div class='epigraph {{ if .Get "yt" }}epigraph--yt{{ end }}'>
  {{.Get "title"}}
  {{ if .Get "link" }}
    <a href='{{ .Get "link" }}' target="_blank">
      {{ .Get "text" }}
    </a>
  {{ else }}
      {{ .Get "text" }}
  {{ end }}
</div>
