// === Constants
$MINW_DESKTOP: 1024px;
$MAXW_DESKTOP_CONTAINER: 60rem;

// === Fonts
$f-primary: 'Open Sans', sans-serif;
$f-secondary: Raleway, sans-serif;
$f-code: Cousine, monospace;

// === Colors
$c-highlight: darkorange;
$c-highlighten: lighten($c-highlight, 30%);
$c-highlighten-plus: lighten($c-highlight, 45%);
$c-fg: #313131;
$c-fg-light: #515151;
$c-bg: white;
$c-bg-alt: darken(white, 2%);
$c-bg-dark: #F7F7F7;
$c-bg-code: #F0F0F0;
$c-bg-border: darken($c-bg-dark, 10%);
$c-hr: lighten($c-fg-light, 50%);
$c-shadow: black;
$p-title-shadow: 2px 2px 2px $c-highlighten;
$p-content-shadow: 5px 5px 5px rgba($c-shadow, .1);

// === Mixins
@mixin onMobile(){
  @media only screen and (max-width: $MINW_DESKTOP) {
    @content;
  }
}

@mixin contentWidth(){
  width: 100%;
  max-width: $MAXW_DESKTOP_CONTAINER;
  @include onMobile(){
    max-width: 100%;
  }
}

// === Style
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}
html {
  font-size: 16px;
  @include onMobile(){
    font-size: 14px;
  }
}
body {
  padding: .3rem 1rem 1rem 1rem;
  font-family: $f-primary;
  font-size: 1.25rem;
  @include onMobile(){
    padding: .3rem;
  }
  background-color: $c-bg-dark;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  > * {
    @include contentWidth();
  }
}

// == Header
.header {
  margin: 0 0 .8rem 0;
}

// = Navbar--Desktop
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__brand {
    font-size: 1rem;
    &::after {
      content: "_";
      color: $c-highlight;
      animation: blink 1s steps(2, start) infinite;
      @keyframes blink {
        to{ visibility: hidden }
      }
    }
  }
  &__menu {
    font-family: $f-secondary;
    &__button {
      display: none;
    }
    &__list {
      margin: 0;
      padding: 0;
      list-style-type: none;
      &__el {
        display: inline-block;
        font-size: .8rem;
        color: $c-highlight;
        &:not(:last-child)::after {
          content: "–";
          margin: 0 .3rem;
          font-size: .8rem;
        }
      }
    }
  }
  &__link {
    display: inline-block;
    line-height: 0.90;
    text-decoration: none;
    color: $c-fg;
    border-bottom: 2px solid transparent;
    transition: .2s border-color ease-in-out;
    &:hover {
      border-bottom: 2px solid $c-highlighten;
    }
  }
}
// = Navbar--Mobile
@include onMobile(){
  .navbar {
    &__menu {
      $self: &;
      position: relative;
      z-index: 102;
      user-select: none;
      -moz-user-select: none;
      &__button {
        padding: 0;
        display: block;
        position: relative;
        z-index: 103;
        border: 0;
        outline: none;
        background-color: transparent;
        cursor: pointer;
        &__line {
          display: block;
          width: 2rem;
          height: 4px;
          border-radius: 3px;
          background-color: $c-fg-light;
          transform-origin: center;
          transition:
            transform 0.3s cubic-bezier(0.77,0.2,0.05,1.0),
            background-color 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
          &:not(:last-of-type) {
            margin-bottom: 5px;
          }
        }
        &:hover &__line {
          background-color: $c-highlighten;
        }
      }
      &__list {
        visibility: hidden;
				opacity: 0;
        margin: 0;
        padding: 3.5em 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100vw;
        height: 100%;
        list-style: none;
        overflow-y: auto;
        background-color: $c-shadow;
        transition: visibility .2s ease-out, opacity .2s ease-out;
        &__el {
          margin-bottom: 1.5rem;
          font-size: 2.5rem;
          line-height: 1.5;
          &:not(:last-of-type)::after {
            content: none;
          }
        }
      }
      &--open #{$self} {
        &__button__line {
          background-color: $c-bg;
          transform: rotate(45deg) translate(3.2px , 3.2px);
          &:last-of-type {
            transform: rotate(-45deg) translate(3.2px , -3.2px);
          }
        }
        &__list {
          visibility: visible;
          opacity: .9;
        }
      }
    }
    &__link--overlay {
      line-height: .9;
      text-decoration: none;
      color: $c-bg;
      border: 2px solid transparent;
      transition: .2s color ease-in-out;
      &:hover, &:active {
        border: 2px solid transparent;
        color: $c-highlight;
      }
    }
  }
}

// == Content
.home {
  padding: .5rem 2rem 2rem 2rem;
  @include onMobile(){
    padding:.3rem .7rem .7rem .7rem;
  }
  border: 1px solid $c-highlighten;
  background-color: $c-bg;
  box-shadow: $p-content-shadow;
  &__header {
    margin: 0 0 2rem 0;
    @include onMobile(){
      margin: 0 0 .7rem 0;
    }
    &__title {
      margin: 0;
      text-align: center;
      font-family: $f-secondary;
      color: $c-highlight;
      text-shadow: $p-title-shadow;
    }
  }
  &__content {
    display: flex;
    flex-direction: row;
    @include onMobile(){
      flex-direction: column;
    }
    justify-content: space-around;
    align-items: center;
    color: $c-fg-light;
    &__logo {
      margin: 0 2rem 0 0;
      @include onMobile(){
        margin: 0 0 .7rem 0;
      }
    }
    &__text {
      font-size: .8rem;
      line-height: 1rem;
      p {
        margin: 0 0 .5rem 0;
      }
    }
  }
}

.list, .post {
  &__header {
    &__title {
      margin: .2rem 0 .8rem 0;
      font-family: $f-secondary;
      font-size: 2.5rem;
      letter-spacing: .2rem;
      text-align: center;
      color: $c-highlight;
      text-shadow: $p-title-shadow;
    }
  }
  &__content {
    padding: 2rem;
    font-size: .8rem;
    line-height: 1.1rem;
    @include onMobile(){
      padding: .7rem;
    }
    color: $c-fg-light;
    border: 1px solid $c-highlighten;
    background-color: $c-bg;
    box-shadow: $p-content-shadow;
    h1, h2, h3, h4 {
      margin: 1.5rem 0 0 0;
      font-family: $f-secondary;
      font-weight: normal;
      letter-spacing: .1rem;
      color: $c-highlight;
      // text-shadow: $p-title-shadow;
      &:first-child {
        margin: 0.5rem 0 0 0;
        margin: 0;
      }
    }
    hr {
      margin: .1rem 0 1rem 0;
      border: 0;
      border-bottom: 1px solid $c-hr;
    }
    p {
      margin: 0 0 .5rem 0;
    }
    figure {
      margin: 1rem auto;
      text-align: center;
      img {
        max-width: 100%;
        height: auto;
      }
      figcaption {
        font-size: .55rem;
        color: lighten($c-fg-light, 25%);
      }
    }
    a {
      display: inline-block;
      line-height: 0.90;
      text-decoration: none;
      color: $c-fg;
    }
  }
}
.list {
  &__content {
    ul, ol {
      margin: .5rem 0;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(auto-fill, 30%);
      grid-gap: 1rem;
      justify-content: space-between;
      li {
        margin-top: .3rem;
        font-size: .9rem;
        list-style: none;
        text-align: center;
      }
    }
    a {
      border-bottom: 2px solid transparent;
      transition: .2s border-color ease-in-out;
      &:hover{
        border-bottom: 2px solid $c-highlighten;
      }
    }
  }
}
.post {
  &__content {
    padding: 2rem 2rem .5rem 2rem;
    @include onMobile(){
      padding: .7rem .7rem .3rem .7rem;
    }
    &__bottom{
      display: flex;
      justify-content: space-between;
      align-content: center;
      margin: 1.5rem 0 0 0;
      @include onMobile(){
        margin: .7rem 0 0 0;
      }
      &__totop {
        a {
          padding: 0 .3rem;
          font-size: .9rem;
          color :$c-fg-light;
        }
      }
      &__lastmod {
        font-size: .6rem;
        color: darken($c-hr, 25%);
      }
    }
    .epigraph {
      font-size: 0.8rem;
      color: $c-fg-light;
      text-align: right;
      &--yt {
        text-align: left;
        font-size: 0.7rem;
        margin: 0 auto;
        width: 70%;
        @include onMobile(){
          width: 95%;
        }
      }
    }
    .dropdown {
      margin: 1rem 0;
      &[open] summary ~ * {
        @keyframes sweep {
          0%    {opacity: 0;}
          100%  {opacity: 1;}
        }
        animation: sweep .3s ease-in-out;
      }
      &__title {
        font-size: 1.1rem;
        line-height: 1.2rem;
        margin-bottom: .5rem;
        color: $c-highlight;
        // text-shadow: $p-title-shadow;
        cursor: pointer;
      }
      &__content {
        padding: .5rem .7rem;
        border: 1px dashed $c-highlighten;
      }
    }
    kbd {
      margin: 0 0.1em;
      padding: 0.1em 0.6em;
      display: inline-block;
      white-space: nowrap;
      font-family: $f-code;
      font-size: .7rem;
      line-height: 1.4;
      color: $c-fg;
      border: 1px solid #ccc;
      border-radius: 3px;
      background-color: $c-bg-dark;
      text-shadow: 0 1px 0 #fff;
      box-shadow: 0 1px 0px rgba($c-shadow, .2),0 0 0 2px $c-bg inset;
    }
    h1, h2, h3, h4 {
      .anchor {
        opacity: 0;
        border: 0px;
        transition: 0.2s opacity ease-in-out;
        &__icon {
          font-size: 1.3rem;
        }
      }
      &:hover > .anchor {
        opacity: 100;
        background: none;
      }
    }
    .note {
      margin: .5rem 0;
      padding: .2rem 1.5rem;
      @include onMobile(){
        padding: .2rem .5rem;
      }
      background-color: $c-highlighten-plus;
      border: 1px dotted $c-highlighten;
      p {
        margin: 0;
        text-align: left;
      }
    }
    blockquote {
      margin: .5rem 0;
      padding: .2rem 0;
      padding-left: 1.5rem;
      @include onMobile(){
        padding-left: .5rem;
      }
      border-left: 3px solid $c-highlighten;
      background-color: $c-highlighten-plus;
      p { margin: 0; }
    }
    pre {
      margin: .5rem 0;
    }
    .highlight pre {
      margin: .5rem 0;
      padding: .5rem 1rem;
      @include onMobile(){
        padding: .2rem .5rem;
      }
      overflow-x: auto;
    }
    code {
      font-family: $f-code;
      color: $c-fg;
    }
    ul, ol {
      margin: .5rem 0;
      padding: 0rem 1.5rem;
      font-size: 1.1em;
      li {
        margin: .3rem 0;
      }
    }
    .table-wrapper {
      width: 100%;
      display: block;
      overflow-x: auto;
    }
    table {
      width: 100%;
      margin: .5rem auto;
      font-size: .7rem;
      border-collapse: collapse;
      border-spacing: 0;
      td,th {
        padding: .2rem .5rem;
        border: 1px solid $c-bg-border;
        background-color: $c-bg;
      }
      th {
        font-family: $f-secondary;
        border-bottom: 1px solid $c-highlighten;
        background-color: $c-bg-dark;
      }
      tr:nth-child(even) td {
        background: $c-bg-alt;
      }
    }
    a {
      border-bottom: 2px solid $c-highlighten;
      transition: .2s background-color ease-in-out;
      &:hover{
        background-color: $c-highlighten-plus;
      }
    }
  }
}

.languages {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  @include onMobile() {
    justify-content: flex-start;
  }
  align-content: flex-start;
  list-style-type: none;
  &__el {
    margin: 0 .5rem 0 0;
  }
  &__link {
    font-size: .8rem;
    display: inline-block;
    line-height: .90;
    font-family: $f-secondary;
    text-decoration: none;
    color: $c-highlight;
    border-bottom: 2px solid transparent;
    transition: .2s border-color ease-in-out;
    &:hover {
      border-bottom: 2px solid $c-highlighten;
    }
  }
}

.breadcrumb {
  &__list {
    margin: 0;
    padding: 0 0 .1rem 0;
    list-style: none;
    font-size: .8rem;
    &__el {
      display: inline;
      &+&::before {
        content: "/ "
      }
    }
  }
  &__link {
    color:$c-highlight;
    text-decoration: none;
    display: inline-block;
    line-height: 0.90;
    border-bottom: 2px solid transparent;
    transition: border-bottom .2s ease-in-out;
    &:hover {
      border-bottom: 2px solid $c-highlighten;
    }
  }
}

.contact {
  margin: 0 auto;
  padding: .7rem;
  width: 70%;
  @include onMobile(){
    width: 100%;
  }
  font-size: .9rem;
  &__label {
    display: block;
    font-size: .75rem;
    color: $c-fg-light;
  }
  &__input {
    margin-bottom: 1rem;
    width: 50%;
    border: 0;
    border-bottom: 1px solid $c-highlight;
    background-color: transparent;
  }
  &__text {
    margin-bottom: 1rem;
    height: 3.2rem;
    resize: none;
    overflow: auto;
    width: 100%;
    border: 0;
    border-bottom: 1px solid $c-highlight;
    background-color: transparent;
  }
  &__button {
    padding: .2rem 1.5rem;
    color: $c-fg;
    border: 1px solid $c-highlighten;
    background-color: transparent;
    box-shadow: 2px 2px 2px rgba($c-shadow, .1);
    transition: .2s border-color ease-in-out;
    cursor: pointer;
    &:hover {
      border: 1px solid $c-highlight;
      background-color: $c-highlighten-plus;
    }
    &:active{
      box-shadow: none;
    }
  }
}

.youtube-wrapper {
  margin: 0 auto;
  width: 70%;
  @include onMobile() {
    width: 95%;
  }
  border: 1px solid $c-highlighten;
}
.youtube {
  margin: 0;
  padding-bottom: 56.23%;
  height: 0;
  max-width: 100%;
  position: relative;
  overflow: hidden;
  background: $c-bg-dark;
  &__iframe {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background: transparent;
  }
  &__thumb {
    margin: auto;
    height: auto;
    width: 100%;
    max-width: 100%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: none;
    cursor: pointer;
    opacity: .85;
    transition: .4s opacity ease-in-out;
    &:hover {
      opacity: 1;
    }
  }
  &__play {
    margin-left: -36px;
    margin-top: -36px;
    height: 72px;
    width: 72px;
    font-size: .8rem;
    @include onMobile(){
      margin-left: -20px;
      margin-top: -20px;
      height: 40px;
      width: 40px;
      font-size: .5rem;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    font-weight: bold;
    text-align: center;
    vertical-align: center;
    background-color: $c-fg;
    border: 2px solid $c-highlighten;
    color: $c-highlight;
    border-radius: 10%;
    cursor: pointer;
    box-shadow: 4px 4px 5px $c-shadow;
    &:active {
      box-shadow: none;
    }
  }
}

// == Footer
.footer {
  margin-top: .8rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 2rem;
  border: 1px solid $c-highlighten;
  background-color: $c-highlighten-plus;
  box-shadow: $p-content-shadow;
  &__text {
    font-size: .8rem;
    color: $c-fg;
  }
}
