{{ define "main" }}
<article class="list">
  <header class="st__header">
    <h1 class="list__header__title">- 404 -</h1>
  </header>
  <section class="list__content">
    <h3 style="text-align: center">The requested page does not exist.</h3>
    <p style="text-align: center">
      Check the URL or return to
      <a href="{{ .Site.BaseURL | relLangURL }}">homepage</a>.
    </p>
  </section>
</article>
{{ end }}
