{{ define "main" }}
<article class="home">
  <header class="home__header">
    {{- partial "languages.html" . -}}
  </header>
  <section class="home__content">
    <section class="home__content__logo">
      <img width="120" height="120" src="/images/logo.svg" alt="KZ-Guide Logo">
    </section>
    <section class="home__content__text">
      {{- .Content -}}
    </section>
  </section>
</article>
{{ end }}
