<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" dir="ltr">
    {{- partial "head.html" . -}}
    <body>
      <main class="container">
        {{- partial "header.html" . -}}
        <section class="content">
          {{- block "main" . }}{{- end }}
        </section>
        {{- partial "footer.html" . -}}
      </main>
      {{- partial "scripts.html" . -}}
    </body>
</html>
