{{ define "main" }}
<article class="list">
  <header class="list__header">
    <h1 class="list__header__title">{{- upper .Title -}}</h1>
    {{- partial "breadcrumb.html" . -}}
  </header>
  <section class="list__content">
    {{- .Content -}}
    {{- range .Params.groups -}}
      <h2>{{- . -}}</h2>
      <hr>
      <ul>
        {{- range where $.Pages "Params.group" . -}}
          <li><a href={{ .Permalink }}>{{- lower .Title -}}</a></li>
        {{- end -}}
      </ul>
    {{- end -}}
  </section>
</article>
{{ end }}
