{{ define "main" }}
<article class="post">
  <header class="post__header">
    <h1 class="post__header__title">{{- upper .Title -}}</h1>
    {{- partial "breadcrumb.html" . -}}
  </header>
  <section class="post__content">
    {{- partial "header-anchor.html" .Content -}}
    <section class="post__content__bottom">
      <span class="post__content__bottom__lastmod">- {{ T "updated" }} {{ .Lastmod.Format "01/2006" }} -</span>
      <span class="post__content__bottom__totop"><a class="" href="#">⬆</a></span>
    </section>
  </section>
</article>
{{ end }}
